{{ partial "header.html" . }}

<div id="post-index" class="container">
    {{ partial "intro.html" . }}

    <ol class="post-list">
        {{ $pag := .Paginate .Pages }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

<!--{{ if eq .Section "thankyou"}}-->
<header class="post-header">
    <p> Join my awesome discord! </p>
    <iframe src="https://discord.com/widget?id=1199011796774813756&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
  </header>

<!--{{ end }}-->

{{ partial "footer.html" . }}
