{{ if eq .Section "post"}}
<header class="post-header">
  <p class="r8tefulTextSmaller"> Blog</p>
  <p>All my posts in one place</p>
</header>

{{ else if eq .Section "games"}}
<header class="post-header">
  <p class="r8tefulTextSmaller"> Games</p>
  <p> All my current games can be found on my
    <a href="https://r8teful.itch.io/"> itch.io page! (click) </a> 
  </p>
  
</header>


{{ else if .Site.Params.intro }}
    <header class="post-header-main">
        <p class="r8tefulText">{{ .Site.Params.headline }}</p>
        <p>{{ .Site.Params.description }}</p>
        <div class="socials">
          <script async data-uid="0edf3abcd2" src="https://r8teful.ck.page/0edf3abcd2/index.js"></script>
        </div>
        <div class="socials">
          <div class="row">
            <div class="socialimg">
              <a href="https://twitter.com/r8teful">
                  <img src="/twitter.svg">
              </a>
            </div>
            <div class="socialimg">
              <a href="https://www.youtube.com/user/r8teful">
                 <img src="/youtube.svg">
              </a>
            </div>
            <div class="socialimg">
              <a href="https://www.instagram.com/r8teful">
                 <img src="/instagram.svg">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="socialimg">
              <a href="https://github.com/r8teful">
                <img src="/github.svg">
              </a>
            </div>
            <div class="socialimg">
              <a href="https://r8teful.itch.io/">
                  <img src="/itch-io.svg">
              </a>
            </div>
            <div class="socialimg">
              <a href="mailto: r8tefulgames@gmail.com">
                  <img src="/email.svg">
              </a>
            </div>
          </div>
        </div>
    </header>

{{ end }}
